body h1,
body h2,
body h3 {
  font-family: 'Varela Round', sans-serif; }
body p {
  font-family: 'Varela Round', sans-serif; }

header {
  height: 1000px;
  background-image: url("../img/iPhone_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  header .row {
    width: 100%; }
  header .nav_left {
    justify-content: space-between;
    display: flex; }
  header .wrapper {
    position: relative;
    text-align: center;
    color: #fff;
    width: 40px;
    height: 40px; }
    header .wrapper #hamb {
      z-index: 3;
      position: absolute;
      width: 40px;
      height: 40px;
      left: 0;
      top: 0;
      opacity: 0; }
    header .wrapper .lines {
      position: absolute;
      top: 26%;
      text-align: center;
      left: 25%; }
    header .wrapper label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      cursor: pointer;
      z-index: 2;
      display: block; }
    header .wrapper .burger-line {
      height: 2px;
      width: 20px;
      background: #000;
      right: 10px;
      margin-bottom: 5px; }
    header .wrapper .second {
      top: 5px; }
    header .wrapper .third {
      top: 10px; }
    header .wrapper .main-menu {
      width: 5rem;
      position: absolute;
      top: 40px;
      left: 0px;
      background: black;
      overflow: hidden;
      transition: .5s all; }
    header .wrapper .main-menu {
      height: 0; }
    header .wrapper #hamb:checked ~ .main-menu {
      height: 125px; }
    header .wrapper #hamb:checked ~ .first {
      transform: rotate(4deg); }
    header .wrapper #hamb:checked ~ .third {
      transform: rotate(-45deg); }
    header .wrapper #hamb:checked ~ .second {
      display: none; }
  header .nav_center {
    text-align: center; }
  header .nav_right {
    display: flex;
    justify-content: space-between; }
  header .info {
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 140px;
    text-align: center; }
    header .info h1 {
      font-size: 62px; }
    header .info p {
      color: #a5a7ab;
      font-size: 20px;
      margin: 3rem 0; }
  header .btn_play {
    border: 2px solid #dee1e3;
    border-radius: 24px;
    position: relative;
    display: inline-block;
    width: 204px;
    height: 41px;
    text-align: center;
    line-height: 35px; }
    header .btn_play a {
      text-decoration: none;
      color: #000; }
    header .btn_play:before {
      content: '';
      position: absolute;
      background-image: url("../img/Play Icon.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 12px;
      width: 12px;
      top: 12px;
      left: 23px; }

#protect .time {
  margin-top: 100px; }
  #protect .time span {
    font-size: 26px;
    display: block;
    margin: 40px 0; }
  #protect .time p {
    font-size: 18px;
    width: 500px; }
#protect .your_day {
  background-image: url("../img/iPhone_bg2.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 1000px; }
  #protect .your_day .wrapper {
    margin-top: 17rem; }
    #protect .your_day .wrapper h2 {
      margin-bottom: 5rem; }
    #protect .your_day .wrapper p {
      font-size: 20px;
      color: #8c8f94; }
    #protect .your_day .wrapper .buttons {
      margin-top: 5rem;
      display: flex; }
      #protect .your_day .wrapper .buttons .btn_1,
      #protect .your_day .wrapper .buttons .btn_2 {
        border-radius: 38px;
        height: 42px;
        line-height: 40px; }
      #protect .your_day .wrapper .buttons .btn_1 {
        background: #267df4;
        color: #fff;
        margin-right: 12px;
        width: 202px;
        position: relative; }
        #protect .your_day .wrapper .buttons .btn_1 span {
          margin-left: 12px; }
        #protect .your_day .wrapper .buttons .btn_1:after {
          content: '';
          position: absolute;
          background-image: url("../img/Arrow Icon.png");
          background-repeat: no-repeat;
          background-size: contain;
          width: 16px;
          height: 16px;
          top: 13px;
          left: 10rem; }
      #protect .your_day .wrapper .buttons .btn_2 {
        border: 2px solid #f1f1f2;
        width: 142px;
        text-align: center; }
#protect .we_are {
  height: 894px;
  background-image: url("../img/World Map.png");
  background-repeat: no-repeat;
  background-size: contain; }
  #protect .we_are .wrapper {
    margin-top: 9rem; }
  #protect .we_are .logos {
    margin-top: 20px; }
    #protect .we_are .logos img:nth-child(1) {
      margin-right: 30px; }
  #protect .we_are p {
    margin: 3rem 0; }

/*# sourceMappingURL=style.css.map */
